<header class="navbar">
        <a href="/"><h2 class="title header-title">Study Studio</h2></a>
        <ul>
            <li><a href="/quiz">Live Quiz</a></li>
            <li><a href="/">Start Learning</a></li>
        </ul>
        <button class="darkmode">darkmode</button>
</header>