<main class="area">
    <div class="inputbox">
        <h2>join game</h3>
        <form>
            <div>
                <label for="name">name</label>
                <input type="text" id="name" name="name">
            </div>
            <button type="submit">Join Game</button>
        </form>
    </div>
</main>